.hexcolor {
  r1: #1b1111;
  r2: #071111;
  g1: #111b11;
  g2: #110711;
  b1: #11111b;
  b2: #111107;
  h1: #111111;
  h2: #111111;
  s1: #130f0f;
  s2: #111111;
  l1: #1e1e1e;
  l2: #040404;
  hsl1: #211c1b;
  hsl2: #040404;
  rgba1: #1b0700;
}

.rgba {
  rgb: rgba(85, 100, 67, 0.5);
  rgba: rgba(0, 50, 255, 0.5);
  alpha-lower-limit: rgba(100, 20, 230, 0);
  alpha-upper-limit: #6414e6;
  h1: rgba(230, 20, 115, 0.75);
  h2: rgba(20, 115, 230, 0.75);
  hsla: rgba(82, 56, 40, 0.25);
}

.rgb-hsl {
  rgb-gb: #1428aa;
  rgb-ra: rgba(5, 70, 120, 0.5);
  rgb-hla: rgba(47, 47, 220, 0.5);
  hsl-rba: rgba(162, 223, 98, 0.5);
  hsl-h: #20df20;
}

.hsla {
  rb: rgba(41, 112, 127, 0.5);
  sla: rgba(45, 134, 134, 0.25);
}