.hex-rgba-test-output {
  c1: rgba(255, 0, 0, 0.5);
  c2: rgba(0, 170, 0, 0.75);
  c3: rgba(0, 0, 64, 0.25);
  c4: rgba(106, 184, 245, 0.1);
}
.hexcolor{
    c1: #0a141e;
    c1b: #0a141e;
    c2: rgba(10, 20, 30, 0.6);
    c2b: rgba(10, 20, 30, 0.6);
}
.rgba{
    c1: rgba(90, 183, 40, 0.75);
    c1b: rgba(90, 183, 40, 0.75);
    c1c: rgba(90, 183, 40, 0.75);
    c1d: rgba(90, 183, 40, 0.75);
    c2: rgba(90, 183, 40, 0.25);
    c2b: rgba(90, 183, 40, 0.25);
    c2c: rgba(90, 183, 40, 0.25);
    c2d: rgba(90, 183, 40, 0.25);
}
.rgb{
    c1: #5ab728;
    c1b: #5ab728;
    c2: rgba(90, 183, 40, 0.75);
    c2b: rgba(90, 183, 40, 0.75);
}
.clamp{
    c1: #5ab728;
    c1b: #5ab728;
    c2: rgba(90, 183, 40, 0);
    c2b: rgba(90, 183, 40, 0);
}