.hexcolor {
  c1c2mix1: #a7a7a7;
  c1c2mix2: #a7a7a7;
  color1: #50ffff;
  color2: #ff5050; }

.rgba {
  c1c2mix1: rgba(57, 57, 160, 0.5);
  c1c2mix2: rgba(59, 22, 172, 0.625);
  color2: rgba(50, 230, 100, 0.25); }

.rgba-mix0-mix100 {
  c1: rgba(0, 150, 0, 0);
  c1: rgba(0, 150, 0, 0.25);
  c1: #009600;
  c1: rgba(0, 150, 0, 0);
  c1: rgba(0, 150, 0, 0.25);
  c1: #009600;
  c1: rgba(0, 150, 0, 0);
  c1: rgba(0, 150, 0, 0.25);
  c1: #009600;
  c1: rgba(50, 0, 255, 0);
  c1: rgba(50, 0, 255, 0);
  c1: rgba(50, 0, 255, 0);
  c1: rgba(50, 0, 255, 0.25);
  c1: rgba(50, 0, 255, 0.25);
  c1: rgba(50, 0, 255, 0.25);
  c1: #3200ff;
  c1: #3200ff;
  c1: #3200ff; }

.hsl {
  c1c2mix1: #6f9777;
  c1c2mix2: #5f6b53;
  color2: #504030; }

.hsla {
  c1c2mix1: rgba(20, 67, 165, 0.5);
  c1c2mix2: rgba(20, 67, 165, 0.5);
  color2: rgba(45, 65, 114, 0.35); }

.misc {
  c1: rgba(75, 138, 75, 0.75);
  c2: rgba(88, 29, 49, 0.65);
  c3: rgba(87, 186, 44, 0.975); }

.named {
  c1: rgba(70, 70, 70, 0.875);
  c2: #006699;
  c3: rgba(246, 2, 8, 0.86); }
