.hexcolor {
  s1: #0a141e;
  s2: #081420;
  s3: #001428;
  d1: #0a141e;
  d2: #0c141c;
  d3: #141414;
  c1: #141414;
}

.rgb {
  s: #c20143;
  d: #794a5a;
  g: #626262;
}

.rgba {
  s: rgba(194, 1, 67, 0.1);
  d: rgba(121, 74, 90, 0.1);
  g: rgba(98, 98, 98, 0.1);
}

.hsl {
  s: #46b963;
  d: #669973;
  g: gray;
}

.hsla {
  s: rgba(4, 149, 101, 0.8);
  d: rgba(54, 99, 84, 0.8);
  g: rgba(77, 77, 77, 0.8);
}