.hexcolor {
  r1: #4c1111;
  r2: #0c1111;
  g1: #114c11;
  g2: #110c11;
  b1: #11114c;
  b2: #11110c;
  s1: #150d0d;
  s2: #111111;
  l1: #2e2e2e;
  l2: #0f0f0f;
  hsl1: #392222;
  hsl2: #0f0f0f;
  rgba1: rgba(76, 12, 15, 0.88);
}

.rgba {
  rgb: rgba(82, 187, 84, 0.5);
  rgba: rgba(30, 90, 236, 0.5625);
  alpha-decrease: rgba(100, 20, 230, 0.15);
  alpha-increase: rgba(100, 20, 230, 0.875);
  sla: rgba(84, 54, 133, 0.375);
}

.rgb-hsl {
  rgb-gb: #14313c;
  rgb-ra: rgba(17, 70, 120, 0.5);
  rgb-la: rgba(33, 116, 199, 0.75);
  hsl-rba: rgba(98, 223, 167, 0.8);
}

.hsla {
  rb: rgba(75, 112, 133, 0.5);
  sla: rgba(36, 129, 129, 0.375);
  ga: rgba(16, 56, 112, 0.75);
}