.simple-default{
    argument-value: 1; 
}

.simple-changed-default{
    argument-value: 2; 
}

.simple-change-default-in-block{
    argument-value: 3; 
}

.expressions-in-default{
    first-value: 4;
    second-value: 17; 
}

.list-default{
    list-value: 1 2 3 4, 5 6 7 8, 9 10 11 12, 13 14 15 16; 
}

.list-nondefault{
    list-value: 1; 
}