/* line 9, ../templates/_filename_fn_import.scss */
filename {
  imported: /target/test-classes/sasslangbroken/scss/_filename_fn_import.scss;
}

/* line 11, ../templates/268-update_stylesheet.scss */
filename {
  local: /target/test-classes/sasslangbroken/scss/268-update_stylesheet.scss;
  local-mixin: /target/test-classes/sasslangbroken/scss/268-update_stylesheet.scss;
  local-function: /target/test-classes/sasslangbroken/scss/268-update_stylesheet.scss;
  imported-mixin: /target/test-classes/sasslangbroken/scss/_filename_fn_import.scss;
  imported-function: /target/test-classes/sasslangbroken/scss/_filename_fn_import.scss;
}
