.main {
	margin: 2px;
	border: 11px;
	border: 10px;
	border: 10px;
	color: #4d4d4d;
	color: #ff6a00;
	color: #240000;
	color: #f00000;
	color: #240000;
	color: #240000;
	color: #f00000;
	color: #f00000;
	color: #e5e3e1;
	color: #f3f2f1;
	color: #010203;
	percents: -20%;
	percents: 33.33%;
}