$h: 100;
$s: 20;
$l: 50;

.foo {
    c1: hsl($h,$s,$l);
    c2: hsla($h,$s,$l,0);
    c3: hsla($h,$s,$l,0.5);
    c4: hsla($h,$s,$l,1);
    c5: rgba(255, 255, 254, 1);
    c6: rgba(255, 255, 255, 1);
    c7: hsla(0, 0%, 100%, 1);
    c8: hsla(100, 70%, 25%, 1);
}