$list1: 10px;
$list2: 10 20;
$list3: 10,10%,abc;

.foo {
    l1: length($list1);
    l2: length($list2);
    l3: length($list3);

    n10: nth($list2, 1);
    n20: nth($list2, 2);
    nabc: nth($list3,3);
    $abc_list: a b,c;
    nn: nth($abc_list,2);
    $abc_list_2: a, b c;
    nn2: nth($abc_list_2,2);

    nl1: join($list1,$list2,space);
    nl2: join($list1,$list3,auto);
    nl3: join($list1,$list2,auto);
    nl4: join($list2,$list3, comma);
    l2c: join($list2,comma,comma);

    ll1: append($list3,foo);
    ll2: append($list3,bar,space);
    ll3: append($list3,bar,comma);
    ll4: append($list3,bar,auto);
    ll5: append($abc_list,bar,auto);
}