.hexcolor {
    $c1: #ff5050;
    $c2: #50ffff;
    c1c2mix1: mix($c1, $c2);
    c1c2mix2: mix($c1, $c2, 50%);
    color1: mix($c1, $c2, 0%);
    color2: mix($c1, $c2, 100%);
}

.rgba {
    $c1: rgba(50, 230, 100, 0.25);
    $c2: rgba(60, 0, 180, 0.75);
    c1c2mix1: mix($c1, $c2);
    c1c2mix2: mix($c1, $c2, 25%);
    color2: mix($c1, $c2, 100%);
}

.rgba-mix0-mix100 {
    c1: mix(rgba(50, 0, 255, 0), rgba(0, 150, 0, 0), 0%);
    c1: mix(rgba(50, 0, 255, 0), rgba(0, 150, 0, 0.25), 0%);
    c1: mix(rgba(50, 0, 255, 0), rgba(0, 150, 0, 1), 0%);
    c1: mix(rgba(50, 0, 255, 0.25), rgba(0, 150, 0, 0), 0%);
    c1: mix(rgba(50, 0, 255, 0.25), rgba(0, 150, 0, 0.25), 0%);
    c1: mix(rgba(50, 0, 255, 0.25), rgba(0, 150, 0, 1), 0%);
    c1: mix(rgba(50, 0, 255, 1), rgba(0, 150, 0, 0), 0%);
    c1: mix(rgba(50, 0, 255, 1), rgba(0, 150, 0, 0.25), 0%);
    c1: mix(rgba(50, 0, 255, 1), rgba(0, 150, 0, 1), 0%);
    c1: mix(rgba(50, 0, 255, 0), rgba(0, 150, 0, 0), 100%);
    c1: mix(rgba(50, 0, 255, 0), rgba(0, 150, 0, 0.25), 100%);
    c1: mix(rgba(50, 0, 255, 0), rgba(0, 150, 0, 1), 100%);
    c1: mix(rgba(50, 0, 255, 0.25), rgba(0, 150, 0, 0), 100%);
    c1: mix(rgba(50, 0, 255, 0.25), rgba(0, 150, 0, 0.25), 100%);
    c1: mix(rgba(50, 0, 255, 0.25), rgba(0, 150, 0, 1), 100%);
    c1: mix(rgba(50, 0, 255, 1), rgba(0, 150, 0, 0), 100%);
    c1: mix(rgba(50, 0, 255, 1), rgba(0, 150, 0, 0.25), 100%);
    c1: mix(rgba(50, 0, 255, 1), rgba(0, 150, 0, 1), 100%);
}

.hsl {
    $c1: hsl(30, 25%, 25%);
    $c2: hsl(150, 75%, 75%);
    c1c2mix1: mix($c1, $c2);
    c1c2mix2: mix($c1, $c2, 75%);
    color2: mix($c1, $c2, 100%);
}

.hsla {
    $c1: hsla(30, 25%, 25%, 0.25);
    $c2: hsla(220, 100%, 40%, 0.75);
    c1c2mix1: mix($c1, $c2);
    c1c2mix2: mix($c1, $c2, 50%);
    color2: mix($c1, $c2, 80%);
}

.misc {
    c1: mix(rgb(100, 100, 100), hsla(120, 100%, 50%, 0.5), 50%);
    c2: mix(rgba(0, 0, 255, 0.2), hsla(0, 50%, 25%, 0.8), 25%);
    c3: mix(#5c2, hsla(100, 20%, 40%, 0.9), 75%);
}

.named {
    c1: mix($color-1: rgba(50, 50, 50, 1), $color-2: rgba(255, 255, 255, 0.5), $weight: 75%);
    c2: mix(hsl(120, 100%, 50%), $weight: 40%, $color-2: #00f);
    c3: mix($weight: 20%, $color-2: rgb(255, 0, 0), $color-1: hsla(240, 50%, 50%, 0.3));
}