// This test verifies that the last parameter of an @include is only 
// unpacked once when variable arguments are used. Several 
// unpacking operations would lead to three arguments for 
// the mixin b, which only accepts one parameter.

@mixin a($arg...){
   content_a: $arg;
   @include b($arg...);
}

@mixin b($argument){
   content_b: $argument;
}

.foo{
   $list: 1 2 3;
   @include a($list);
}